html {
    box-sizing: border-box;
    margin: 0;
    color: #ccc;
}

body {
    background-color: black;
    background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.2)), url(../images/background.jpg);

    background-size: cover;
    background-position: center;
    min-height: 100vh;

    display: flex;
    flex-direction: column;
}

main {
    display: flex;
    align-items: center;
    flex: 1;
    flex-direction: column;
}

.caption {
    color: #bfbebe;
    font-size: 1.5em;
    font-family: monospace;
    background-color: #717171
}

#quote {
    color: aliceblue;
    background-color: darkgray;
    font-family: cursive;
    font-size: 1.5em;
}

body nav ul li a {
    color: antiquewhite;
    font-family: sans-serif;
    display: flex;
    justify-content: flex-end;
    padding: 1em;

}

ul {
    list-style-type: none;
}

body main div {
    display: flex;
    flex-direction: row;
    display: inline-block;
    align-items: center;
    margin: 10px 20px;
}

h1,
h2 {
    font-family: sans-serif;

    color: whitesmoke;
}

h1 {
    border: 2px solid #000000;
    border-radius: 15px;
    width: 300px;
    background-color: #bbbbbb;

    box-shadow: 5px 5px 5px #5a5a5a;
}

.link {
    color: antiquewhite;
    font-family: sans-serif;
}

form p {
    display: flex;
    justify-content: center;
    
}

body main form {
    padding: 3em;
    display: flex;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.31);
}


.thanks {
    font-size: 3em;
    background-color: rgba(0, 0, 0, 0.38);
    
}

footer {
    background-color: gainsboro;
    display: flex;
    flex-direction: row-reverse;
    font-size: 1.5em;
}

@media screen and (max-width: 30rem) {
    header,
    main,
    footer
    form p {
        flex-direction: column;
    }
    form input, text area {
        margin: 2px 0;
    }
}
